.item-detail-container {
    margin-top: 86px;
    border-radius: 10px;
    color: #414141;
}
.item-detail {
    display: flex;
    gap: 20px;
    position: relative;
}
.item-detail-image {
    width: 96px;
    height: 96px;
}
.detail-image {
    max-width: 100%;
    border-radius: 50%;
}
.item-detail-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.item-detail-name {
    font-weight: 800;
    font-size: 28px;
}
.detail-location-container {
    display: flex;
    gap: 5px;
    color: #9A9A9A;
    font-size: 12px;
}
.item-detail-description {
    height: 86px;
    margin-top: 40px;
}
.item-detail-description p {
    font-size: 16px;
}
.detail-price {
    margin-top: 34px;
    height: 67px;
    background-color: #fff;
    padding: 12px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.detail-price-time {
    font-weight: 800;
    font-size: 20px;
}
.detail-price-title {
    font-size: 14px;
}
.pakets-container {
    margin-top: 41px;
}
.paket-title {
    color: #808080;
    font-size: 18px;
    font-weight: 600;
}
.pakets-items {
    margin-top: 15px;
    height: 94px;
    padding: 12px 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}
.paket-left-title {
    font-size: 20px;
    font-weight: 600;
}
.paket-left-service {
    font-size: 14px;
}
.paket-left-week {
    font-size: 12px;
    color: #808080;
}
.pakets-right p {
    font-size: 22px;
    font-weight: 600;
}
.pakets-right span {
    font-size: 12px;
    margin-right: 4px;
}

  

@media (max-width: 412px) {
    .item-detail-container {
        padding: 0 15px;
        margin-top: 0px
    }
    .item-detail-image {
        width: 76px;
        height: 76px;
    }
    .item-detail-name {
        font-size: 16px;
    }
    .item-detail-speciality {
        font-size: 14px;
    }
    .item-detail-description {
        height: 102px;
        padding: 10px;
        margin-top: 0px;
    }
    .item-detail-description p {
        font-size: 14px;
    }
    .item-detail-image {
        position: relative;
        top: -30px;
        z-index: 100;
    }
    .detail-price,
    .pakets-items {
        align-items: flex-end;
    }
    .modal{
        width: 100%;

    }
}

