.items-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    gap: 8px;
    cursor: pointer;
}
.item-container {
    width: 586px;
    height: 84px;
    background-color: #FFFFFF !important;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    color: #414141;
    border: 1px transparent solid;

}
.item-left {
    display: flex;
    gap: 20px;
}
.item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;

}
.item-image img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.item-right {
    font-weight: bold;
    font-size: 22px;
    display: flex;
        flex-direction: column;
        align-items: center;
}
.walker-azn {
    font-size: 10px;
    margin-right: 2px;
}
.walker-buttons{
    display: flex;
    gap: 2px;
}
.item-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.location-container {
    display: flex;
    gap: 5px;
    color: #9A9A9A;
    font-size: 9px;
}
.walker-name{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.walker-speciality{
    font-size: 14px;
}
.walker-address{
    font-size: 8px;
}
.walket-time{
    font-size: 14px;
    color: #A6A6A6;
    font-weight: 100;
}

.item-container:hover{
        border: 1px #639af3 solid;
}

@media (min-width: 594px) {

    .item-container {
        width: 549px;
        padding: 12px;
    }
    .item-right {
        align-self: flex-end;
        font-weight: bold;
        font-size: 22px;
    }
    .item-right span {
        font-size: 12px;
        margin-right: 2px;
    }
    .item-details {
        font-size: 14px;
    }
    .walker-address{
        font-size: 12px;
    }
    .walker-name{
        font-size: 18px;
        font-weight: 600;
    }
}
@media (max-width: 594px) {

    .item-container {
        width: 400px;
        padding: 12px;
    }
    .item-right {
        align-self: flex-end;
        font-weight: bold;
        font-size: 22px;
    }
    .item-right span {
        font-size: 12px;
        margin-right: 2px;
    }
    .item-details {
        font-size: 14px;
        height: 60px;
    }
    .walker-name{
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-width: 400px) {
    .item-container {
        width: 100%;
        padding: 12px;
    }
    .item-right {
        align-self: flex-end;
        font-weight: bold;
        display: flex;
        align-items: flex-end;
    }
    .item-right span {
        font-size: 10px;
        margin-right: 2px;
    }
    .item-details {
        font-size: 8px;
    }
    .item-image {
        width: 56px;
        height: 56px;
    }
    .walker-name{
        font-size: 14px;
        font-weight: 600;
    }
}
@media (max-width: 335px) {
    .walker-name{
        font-size: 12px;
    }
    .walker-speciality{
        font-size: 10px;
    }
    .walker-address{
        font-size: 7px;
    }
    .walket-time{
        font-size: 10px;
    }
    
}