.edit-walker-detail-modal {
    display: flex;
    flex-direction: column;

    width: 576px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.modal-edit-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.modal-edit-description {
    margin-top: 15px;
}

.edit-modal-image-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
}
.edit-modal-image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.edit-modal-image-self-container {
    display: flex;
    width: 120px;
    height: 120px;
    gap: 5px;
}

.modal-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.delete-button {
    background-color: #ff0000; /* Красный цвет фона */
    color: #ffffff; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Поля вокруг текста */
    cursor: pointer; /* Заменяем указатель на руку при наведении */
    border-radius: 4px; /* Скругление углов */
  }
  
  .delete-button:hover {
    background-color: #ff3333; /* Изменяем цвет фона при наведении */
  }



  .file-upload-container {
    display: flex; /* Располагаем элементы внутри flex-контейнера */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
  }
  
  .file-upload-input {
    display: none; /* Скрываем сам инпут файлов */
  }
  
  .custom-file-upload {
    background-color: #007bff; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 10px 15px; /* Поля вокруг текста */
    border-radius: 4px; /* Скругление углов */
    cursor: pointer; /* Заменяем указатель на руку при наведении */
    margin-right: 10px; /* Добавляем немного отступа справа */
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3; /* Изменяем цвет фона при наведении */
  }