.modal-edit-detail {
    display: flex;
    flex-direction: column;

    width: 576px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.modal-edit-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.modal-edit-description {
    margin-top: 45px;
}

.edit-modal-image-container {
    display: flex;
    width: 120px;
    height: 120px;
    gap: 5px;
}

.modal-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}