.walker-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.walker-title-container{
    height: 64px;
    display: flex;
    align-items: center;
}

.walker-title{
    color: #262626;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}