.add-walker-modal {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 576px;
    height: 517px;
    position: fixed;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .add-walker-line{
    display: flex;
    margin-top: 5px;
    gap: 5px;
  }

  .add-walker-modal-content input{
    width: 177px;
  }
  .add-walker-buttons{
    margin-top: 10px;
  }
  
  @media (max-width: 600px) {

    .add-walker-modal{
      height: 500px;
      width: 400px;
      align-items: center;
    }
    .modal-content input{
      width: 120px;
    }
    .add-walker-modal-content input {
      width: 117px;
  }
    
  }
  @media (max-width: 400px) {

    .add-walker-modal{
      height: 100%;
      width: 100%;
      align-items: center;
      overflow-y: auto;
    }
    .modal-content input{
      width: 214px;
      height: 26px;
      padding: 3px;
      margin: 2px;
    }
    .modal-content{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 94%;
    }
    .add-walker-modal-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    .add-walker-line{
      flex-direction: column;
      width: 100%;
    }
    .add-walker-modal-content input {
      width: 100%;
  }
  .add-walker-pakets{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
    
  }
