.login-form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.login-labels-containers{
    display: flex;

    flex-direction: column;
    gap: 5px;
}
.login-labels-containers input{
    padding: 5px;
    font-size: 12px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }